# Local ignores, also see ~/.gitignore
# https://git-scm.com/docs/gitignore

# Derived files other than docs/
/dist/
/vendor/

# test.html
# temp
# deno
# landing-page
# landing-page-src

node_modules
web_modules
npm-debug.log
yarn-error.log
/.vscode/
**/.DS_Store

LeafletElementOverlay

/Attic/
/test/samples.txt

# package-lock.json
# yarn.lock
# web_modules/
