.mobile-flex {
  display: flex !important;
}
@media (min-width: 900px) {
  .mobile-flex {
    display: none !important;
  }
}

.mobile {
  display: block !important;
}
@media (min-width: 900px) {
  .mobile {
    display: none !important;
  }
}

.desktop-flex {
  display: none !important;
}
@media (min-width: 900px) {
  .desktop-flex {
    display: flex !important;
  }
}

.desktop {
  display: none !important;
}
@media (min-width: 900px) {
  .desktop {
    display: block !important;
  }
}

html, body {
  font-family: "Lato", sans-serif;
  margin: 0px;
  font-size: 22px;
  overflow-x: hidden;
}
@media (min-width: 1000px) {
  html, body {
    font-size: 24px;
  }
}

.button {
  cursor: pointer;
  background: skyblue;
  display: inline-block;
  padding: 10px 14px;
  font-size: 18px;
  user-select: none;
}
.button:hover {
  background: #65c2e8;
}
.button.forever {
  background: orange;
}
.button.running {
  background: #f9d086;
}
.button.fixed-small {
  text-align: center;
  width: 100px;
  box-sizing: border-box;
}

a.button, a.button:visited {
  text-decoration: none;
  color: black;
}

a:visited {
  color: #0000cc;
}

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  background: #d8d8d8;
}
.header .button-row {
  display: flex;
  align-items: center;
  margin: 0px 40px;
  height: 50px;
  justify-content: center;
}
@media (min-width: 900px) {
  .header .button-row {
    height: 70px;
    justify-content: flex-start;
  }
}
.header .button-row .spacer {
  flex-grow: 1;
}
.header .button-row .nav-button {
  margin-right: 80px;
  color: black;
  text-decoration: none;
}
.header .button-row .nav-button:hover {
  text-decoration: underline;
}
.header .button-row .nav-button:last-child {
  margin-right: 0px;
}
.header .button-row .mobile-nav-toggle {
  position: absolute;
  left: 10px;
  height: 70%;
}
.header .button-row .mobile-nav-toggle img {
  height: 100%;
}

.mobile-nav-overlay {
  position: fixed;
  top: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #fffbfb;
  text-align: center;
  display: none;
}
.mobile-nav-overlay nav {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-flex;
  flex-direction: column;
}
.mobile-nav-overlay nav .nav-button {
  color: black;
  text-decoration: none;
  padding: 20px 0px;
  font-size: 36px;
}
.mobile-nav-overlay nav .nav-button:hover {
  text-decoration: underline;
}

.cover {
  width: 100%;
  height: 100vh;
}
.cover .models-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.cover .models-container canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.cover .cover-title-container {
  position: absolute;
  padding: 40px 40px;
  transform: translateY(-50%);
  top: 50%;
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 1000px) {
  .cover .cover-title-container {
    margin-top: -20px;
    left: 160px;
  }
}
.cover .cover-title-container .cover-title {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
  background: rgba(248, 248, 248, 0.86);
  display: inline-block;
  padding: 0px 8px;
}
.cover .cover-title-container .cover-subtitle {
  font-size: 40px;
  font-weight: normal;
  background: rgba(248, 248, 248, 0.86);
  display: inline-block;
  padding: 0px 8px;
}
.cover .cover-title-container .learn-more-button {
  position: absolute;
  margin-top: 40px;
  display: inline-block;
  text-transform: lowercase;
  background: orange;
  cursor: pointer;
  padding: 10px 14px;
}
.cover .cover-title-container .learn-more-button:hover {
  background: #f9d086;
}

.two-columns-container {
  background: #fffbfb;
}
.two-columns-container.with-border {
  border-top: 1px solid;
}
.two-columns-container .two-columns {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0px auto;
}
@media (min-width: 900px) {
  .two-columns-container .two-columns {
    flex-direction: row;
    max-width: 1200px;
    padding: 0px 20px;
  }
}
.two-columns-container .two-columns .column-left {
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 20px;
}
@media (min-width: 900px) {
  .two-columns-container .two-columns .column-left {
    width: 700px;
    padding: 0px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
}
@media (min-width: 1000px) {
  .two-columns-container .two-columns .column-left {
    padding-right: 80px;
  }
}
.two-columns-container .two-columns .column-left h1 {
  margin: 0px 20px;
  background: #d8d8d8;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 50px;
  display: inline-block;
}
@media (min-width: 900px) {
  .two-columns-container .two-columns .column-left h1 {
    margin: revert;
    margin-top: 80px;
  }
}
.two-columns-container .two-columns .column-left h2, .two-columns-container .two-columns .column-left p {
  margin-left: 20px;
  margin-right: 20px;
}
@media (min-width: 900px) {
  .two-columns-container .two-columns .column-left h2, .two-columns-container .two-columns .column-left p {
    margin: revert;
  }
}
.two-columns-container .two-columns .column-left .note {
  font-size: 0.6em;
  background: #ffe8cf;
  padding: 12px 20px;
  line-height: 1.4em;
  margin: 40px 20px;
}
@media (min-width: 900px) {
  .two-columns-container .two-columns .column-left .note {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.two-columns-container .two-columns .column-left code {
  font-size: 0.8em;
  background: #d9d1ff;
}
.two-columns-container .two-columns .column-right {
  flex-shrink: 0;
  order: -1;
}
@media (min-width: 900px) {
  .two-columns-container .two-columns .column-right {
    width: 500px;
    margin-top: 100px;
    order: 0;
  }
}

.center-column {
  padding-top: calc(50px + 20px);
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px auto;
}
@media (min-width: 900px) {
  .center-column {
    padding-top: calc(70px + 60px);
    width: 1000px;
  }
}

.tutorials-grid {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (min-width: 900px) {
  .tutorials-grid {
    justify-content: space-between;
  }
}
.tutorials-grid .tutorial-panel {
  margin-bottom: 40px;
  color: black;
  text-decoration: none;
  width: 300px;
}
.tutorials-grid .tutorial-panel:hover .tutorial-title {
  text-decoration: underline;
}
.tutorials-grid .tutorial-panel .model-thumb, .tutorials-grid .tutorial-panel .canvas-placeholder {
  width: 300px;
  height: 300px;
  background: grey;
}
.tutorials-grid .tutorial-panel .tutorial-title {
  margin-top: 5px;
}
.tutorials-grid .tutorial-panel .tutorial-description {
  font-size: 16px;
}

.code-block {
  display: flex;
  flex-direction: column;
}
.code-block .code {
  width: 100%;
  resize: none;
  padding: 20px;
  box-sizing: border-box;
  font-size: 0.65em;
  white-space: nowrap;
  font-family: monospace;
}
@media (min-width: 900px) {
  .code-block .code {
    font-size: 0.7em;
  }
}
.code-block .code[disabled] {
  background: white;
  color: initial;
  border-color: initial;
}

.tutorial-model-container-desktop, .tutorial-model-container-mobile {
  position: relative;
}

.tutorial-model-container-fixed {
  display: none;
  position: fixed;
}

.model-buttons {
  position: absolute;
  bottom: 5px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 900px) {
  .model-buttons {
    position: relative;
    justify-content: flex-start;
  }
}

.code-buttons {
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 900px) {
  .code-buttons {
    justify-content: flex-start;
  }
}

/*# sourceMappingURL=style.css.map */