html,
body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    font-size: 22px;
    padding: 0px;
    user-select: none;
}

/* #navDiv {
    top: 0px;
    left: 0px;
    right: 0px;
    background: #d8d8d8;
} */

#navDiv {
    position: absolute; /* So that model can take full screen */
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    background: #d8d8d8;
}
.button-row {
    display: flex;
    align-items: center;
    margin: 0px 40px;
    height: 80px;
    justify-content: center;
}
.button-row .spacer {
    flex-grow: 1;
}
.button-row .nav-button {
    margin-right: 80px;
    color: black;
    text-decoration: none;
}
.button-row .nav-button:hover {
    text-decoration: underline;
}
.button-row .nav-button:last-child {
    margin-right: 0px;
}

#modelDiv {
    /*   position: relative; */
    width: 100vw;
    height: 100vh;
}

#textDiv {
    position: absolute;

    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);

    z-index: 1;
}
#textDiv .title {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
    background: rgba(248, 248, 248, 0.86);
    display: inline-block;
    padding: 0px 8px;
}
#textDiv .subtitle {
    font-size: 40px;
    font-weight: normal;
    background: rgba(248, 248, 248, 0.86);
    /*   display: inline-block; */
    padding: 0px 8px;
    /*   margin-bottom: 10px; */
}
#textDiv .learnmore {
    font-size: 30px;
    text-decoration: none;

    position: absolute;
    margin-top: 40px;
    /*   display: inline-block; */
    background: orange;
    cursor: pointer;
    padding: 10px 14px;
}
#textDiv .learnmore:hover {
    background: #f9d086;
}

.center-column {
    padding-top: calc(50px + 20px);
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px auto;
}

.tutorials-grid {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tutorials-grid .tutorial-panel {
    margin-bottom: 40px;
    color: black;
    text-decoration: none;
    width: 300px;
}
.tutorials-grid .tutorial-panel:hover .tutorial-title {
    text-decoration: underline;
}
.tutorials-grid .tutorial-panel .model-thumb {
    width: 300px;
    height: 300px;
    background: grey;
}
.tutorials-grid .tutorial-panel .tutorial-title {
    margin-top: 5px;
}
.tutorials-grid .tutorial-panel .tutorial-description {
    font-size: 16px;
}
