/* A Responsive style sheet for views2/ "one-pagers", which use TwoView.js */
body {
    margin: 0;
}
#modelDiv {
    width: 100%;
}
#modelDiv canvas {
    width: 100%;
}
/* If the width is over 900px, use this for #modelDiv:  */
@media screen and (min-width: 900px) {
    #modelDiv {
        width: 90%;
        margin: auto;
    }
}
