html,
body {
    margin: 0px;
    padding: 0px;
    user-select: none;
}

#modelDiv {
    /* display: inline-block; */
    /* float: right; */
}

/* The ui elements */
#uiContainer {
    width: 40vw;
    /* width: 400px; */
    height: calc(100vh - 50px);
    /* Adjust height to leave space for the control panel */
    border: 1px solid #ccc;
    position: relative;
    overflow: hidden;

    float: left;
}

.ui-element {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    cursor: pointer;
}

#controlPanel {
    display: none;

    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    /* height: 50px; */
}

#controlPanel button {
    margin-right: 10px;
}

.modal {
    display: none;

    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#modal-header {
    background-color: #ccc;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.modal-footer {
    margin-top: 20px;
    text-align: right;
}

.modal-footer button {
    margin-left: 10px;
}

.range-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.checkbox-label {
    margin-left: 5px;
}

.dropdown-wrapper label,
.output-wrapper label {
    display: block;
}

/* Popup menu styles */
.popup-menu {
    display: none;

    position: absolute;
    z-index: 1000;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    font-size: 14px;
}

.popup-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.popup-menu li {
    padding: 8px 12px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.popup-menu li:hover {
    background-color: #f0f0f0;
}

.popup-menu li:last-child {
    border-bottom: none;
}

#popupModal .modal-content input[type='text'],
#popupModal .modal-content input[type='number'],
#popupModal .modal-content input[type='checkbox'],
#popupModal .modal-content textarea {
    width: 100%; /* Makes inputs fill the width of the modal content */
    padding: 8px;
    box-sizing: border-box;
    font-size: 14px;
}

#popupModal .modal-content label {
    font-size: 14px;
    margin-top: 8px;
    display: inline-block;
}

/* Fix checkbox */
#popupModal .modal-content label,
#popupModal .modal-content input[type='checkbox'] {
    display: inline-block; /* Align checkbox and label on the same line */
    vertical-align: middle; /* Center align with the label text */
    margin-top: 0; /* Remove top margin */
}

#popupModal .modal-content input[type='checkbox'] {
    width: auto; /* Prevent checkbox from taking the full width */
    margin-right: 5px; /* Add spacing between checkbox and label text */
}

.plot-container {
    position: relative;
    /* cursor: crosshair; */
}
.uplot {
    cursor: default;
}

/* .ui-element {
    overflow: visible;
} */

/* .uplot-tooltip {
    position: absolute;
    cursor: crosshair;
    background: rgba(0, 0, 0, 0.2);
    color: black;
    border: 2px solid black;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    pointer-events: none;
    z-index: 10;
    white-space: pre;
} */
/* white-space: pre; ..Preserve line breaks for each pen value */
