<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Agentscript: agent based modeling in the browser</title>
  
  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" type="text/css" href="{{ '/style.css' | url }}">
</head>
<body>
  <header class="header">
    <nav class="button-row">
      <a class="nav-button" href="{{ '/' | url }}">agentscript</a>
      <div class="spacer"></div>
      <a class="nav-button" href="{{ '/tutorials' | url }}">Tutorials</a>
      <a class="nav-button" href="{{ '/examples' | url }}">Examples</a>
      <a class="nav-button" href="https://agentscript.org/docs">Docs</a>
      <a class="nav-button" href="https://github.com/backspaces/agentscript">Github</a>
    </nav>
  </header>
  {{ content }}
</body>
<script src="main.js" type="module"></script>
</html>